@import "@penpot/plugin-styles/styles.css";

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  font-weight: normal;
}

.form-group, .input {
  width: 100%;
}
.form-group {
  margin-bottom: 20px;
}
.form-group label {
  display: block;
  margin-bottom: 5px;
}

/* PLUGIN */
.plugin__days {
  display: flex;
  flex-direction: column;

  margin-bottom: 50px;
}
.plugin__formats {
  margin-bottom: 20px;
}
.plugin__formats h2 {
  font-size: 14px;
  text-transform: uppercase;
}
.plugin__formats h3 {
  margin-bottom: 10px;
}

/* FORM */
.form {
  margin-top: 20px;
}
.form__row {
  display: flex;
  gap: 10px;
}
.form__col {
  flex: 1;
}
.form__submit {
  display: block;

  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
}

/* DAY COMPONENT */
.day {
  border-bottom: 1px solid #ccc;

  display: flex;
  flex-direction: column;
  gap: 10px;
}
.day__header {
  display: flex;
  justify-content: space-between;
  padding-right: 20px;

  cursor: pointer;
  transition: all 0.3s ease;
}
.day__header--open {
  background-color: var(--db-tertiary);
}
.day__header:hover {
  background-color: var(--db-quaternary);
}
.day__title {
  flex: 1;
  user-select: none;
  padding: 20px 10px;
  cursor: pointer;

  font-size: 10px;
  text-transform: uppercase;
}
.day__body {
  margin-bottom: 20px;
}